.Dublin {
    color:orangered;
    font-weight: bold;
    font: Arial Round;
    font-size: 25mm;
    text-align: center;
}



img {
    align-self: center;
    width:200px
}

#music {
    color: royalblue;
    font-size: 30px;
    font-weight:bolder;
    text-align: center;
}

.Youtube {
    vertical-align:center;
    padding:20px;
    font-size: 25px;
    color:darkblue;
    margin: auto;
    
} 


#Link {
    align-items: center;
    align-tracks: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
    width:900px;
    height:350px;
}

.Musiclinks {
    margin:auto; 
    font-weight:bold; 
    color:lime;
    padding: 50px;
    font-size: 30px;


}



.Fav {
    color:red;
    font-size:1cm;
    padding:35px;
    margin:auto;
}



.border border-danger {
    color:blueviolet;
}





.Everything {
    display:flex;
    flex-wrap:wrap;
    
}

#Introduction { 
    margin:auto;
    border-style:solid;
    border-color:#8b008b; 
    border-width:1mm;
    height:100%;
    padding:50px;
    padding-bottom:50px;
    background-image:0.7;
}

#grad {
    background-image: linear-gradient(#f9fd50, #00bd56, #00b7c2);
  }

#Teal {
    background-image: linear-gradient(#0F7F7F, #EE1FEF)
}

#pink {
    background-image: linear-gradient(#4EBA16,#ACFE2B,#FE1295,#E5007d);
}